body {
  margin: 0%;
  padding: 0%;
  background-color: rgb(12, 12, 12);
}
body::before {
  content: "";
  background-image: url("./image/image.jpg");
  background-size: cover;
  opacity: 0.5;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -10000;
}

nav {
  display: flex;
  background-color: white;
  height: 4vw;
  width: 70vw;
  margin: 4vw auto;
  justify-content: space-evenly;
  align-items: center;
}

nav > a {
  text-decoration: none;
  color: black;
  font-family: "Roboto", sans-serif;

  height: 4vw;
  width: 14vw;
  box-sizing: border-box;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transition: all 0.9s;
}

.highLighter {
  width: 13vw;
  height: 5vw;
  background-color: crimson;

  position: absolute;
  /* transform: translateX(-28vw); */
  z-index: -1;
  transition: all 0.9s;
}

.arrow {
  clip-path: polygon(0 0, 51% 29%, 100% 0);
  background-color: crimson;
  position: absolute;
  transform: translateX(-28vw);
  width: 2vw;
  height: 2vh;
  transition: all 0.9s;
  top: 4vw;
}
